metdb.db.url=jdbc:sqlserver://ncibidb3.bicc.med.umich.edu:1433;databaseName=humdb;selectMethod=cursor;schema=metdb
ws.db.url=jdbc:sqlserver://ncibidb3.bicc.med.umich.edu:1433;databaseName=mimir2v1;selectMethod=cursor;schema=ws
registration.db.url=jdbc:sqlserver://ncibidb3.bicc.med.umich.edu:1433;databaseName=serverapps;selectMethod=cursor;schema=dbo

default.db.username=
default.db.password=

default.db.host=ncibidb3.bicc.med.umich.edu
default.db.port=1433

mimi.db.name=mimiR2

gene.db.name=geneR2

humdb.db.name=humdb

reactome.db.name=reactome

pubmed.db.name=pubmed

search.use.catalina.home=yes
search.dir=Lucene
